*.pyc
*.pyo
*.pyd
__pycache__/
*.lock
*.egg
*.egg-info/
dist/
build/
*.whl
*.log
*.sqlite3
*.db
*.coverage
*.DS_Store
*.env
*.venv
*.pytest_cache/
*.mypy_cache/
*.tox/
*.ipynb_checkpoints/
*.coverage.*
*.idea/
*.vscode/
*.swp
*.swo
*.bak
*.tmp
*.orig
*.patch
*.orig.*
*.rej
*.swm
*.swn
*.arrow
*.parquet
*.csv
*.tsv
*.json

